* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY ARRUMADO */
body {
    font-family: Arial, sans-serif;
    background-color:#F4C7C3;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* TOPO */
.faixa-topo {
    background-color: #681413;
    width: 100%;
    height: 90px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

/* MAIN CENTRALIZADO */
main {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* CAIXA */
.caixa {
    width: 500px;
    padding: 20px;
    border-radius: 10px;

    background: white;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    text-align: center;
}

/* INPUTS */
.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
}

/* BOTÃO */
button {
    background: #681413;
    color: rgb(255, 255, 255);
    padding: 10px;
    border: none;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
}

/* RESULTADO */
.resultado {
    margin-top: 15px;
    padding: 10px;
    background: #e9ecef;
    border-radius: 5px;
    text-align: left;
}

/* FOOTER */
.main-footer {
    background-color: #681413;
    color: white;

    width: 100%;
    min-height: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.footer-section {
    flex: 1;
    display: flex;
    align-items: center;
}

.footer-section.left {
    justify-content: flex-start;
}

.footer-section.center {
    justify-content: center;
    text-align: center;
}

.footer-section.right {
    justify-content: flex-end;
}

.creditos p {
    font-size: 0.85rem;
    margin: 2px 0;
    font-weight: bold;
}